<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcVAT4Ofj-s4sZjpfxaPu0edhFeNBb6Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>559493696484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yaroslavfurnitureapp</string>
	<key>PROJECT_ID</key>
	<string>furnitureapp-67db7</string>
	<key>STORAGE_BUCKET</key>
	<string>furnitureapp-67db7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559493696484:ios:f24f83d96047e0858115f1</string>
	<key>DATABASE_URL</key>
	<string>https://furnitureapp-67db7-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>